body { 
  height: 100vh;
  padding: 4rem;
  background: url('../assets/Mask.png') right bottom no-repeat;
  background-size: contain;
}

@media screen and (max-width: 50rem) {
  body {
    padding: 1rem;
  }
}

@media screen and (max-height: 510px) {
  body {
    background: url();
  }
}